html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
    font-family: Kamilla;
    src: url('kamilla_preview.woff');
}
    
@font-face {
	font-family:'Viktor';
	src: url('Viktor_preview.ttf') format('truetype');
}


/* contains the whole page */

#container {
	width: 100%;
	overflow-x: hidden;
	font-family: Kamilla;
	background: #ff0;
}

#container.viktor {
	font-family: Viktor;
}

#header {
	width: 100%;
	padding:30px;

}

/* contains color changing buttons */

.colorchanger {
	float:right;
	margin-left: 30px;
	padding: 30px;
}


/* contains all of the refreshing text elements */

#textframe {
	display: block;
	width:100%;
	height: 80%;
	margin-top: 30px;
	padding: 20px;
	text-align: center;
	border-radius: 20px;
}

.pure-button {
	font-size: 2em;
	background: white;
	border-radius: 10px;
}

.newtweet {
	margin-top: 60px;
	text-transform: uppercase;
}

.typetoggle {
	text-transform: uppercase;
}

.typeinfo {
	margin-left: 30px;
}

/* contains a link to my website */

#footer {
	font-size: 2em;
	
}

#footer a {
	float: right;
	padding:30px;
	text-decoration: none;
	color: black;
}